/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {


}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1600px) {
    .ls-image {
        width: 600px;

    }

    h1 {
        font-size: 110px;
    }

    h2 {

    }

    h4 {
        font-size: 30px;
    }

}
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait) {


    .ls-body {
        top: 300px;
    }
    h1 {
        font-size: 120px;
    }

    h2 {
        font-size: 50px
    }

    h3 {
        font-size: 50px

    }

    h4 {
        font-size: 37px;

    }

    .ls-image {
        width: 400px !important;
    }


}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .ls-image {
        width: 300px;
    }



}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

    h1 {
        font-size: 45px
    }

    h2 {
        font-size:30px;
    }

    h3 {
        font-size: 30px
    }
    .ls-image {
        width: 200px;
    }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {


    .ls-image {
        width: 200px;
    }
}



